alias vi="vim"
alias be="bundle exec"
alias ber="bundle exec rake"
alias bes="bundle exec spec"
alias bec="bundle exec cucumber"
alias rs="rails s"
alias rc="rails c"
alias r="rails"
alias ss="git pow"
alias gs="git show"
alias ls="ls -laFG"
